.List {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border: 1px solid gray;
  margin-left: 10px;
}

.List > div {
  padding: 10px 10px;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  > span {
    flex: 1;
    text-align: center;
    padding: 10px 15px;
  }
}

.List > .Item {
  background-color: white;
  //   border: 1px solid rgba(236, 236, 236);
  z-index: 0;
}
